

#title{
color: blue;
text-align: center;
font-size: 50px;

}

.image{


    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#shortex{
font-size: 20px;



}

.subtitle{

    text-align: center;
    margin: 15px;
    border: 25px;
    padding: 25px;
    font-size: 34px;




}


.List{
text-align: center;
font-size: 32px;
l





}